body,
button,
input,
select,
optgroup,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  @include font-size(1);
  line-height: $font__line-height-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "headings";

@import "copy";

.shine {
  background: #222 -webkit-gradient(
      linear,
      left top,
      right top,
      from(#222),
      to(#222),
      color-stop(0.5, #fff)
    ) 0 0 no-repeat;
  background-size: 150px;
  color: rgba(255, 255, 255, 0.1);
  background-clip: text;
  text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
  animation: shine 5s infinite;
}

/* @keyframes shine {
  0%,
  10% {
    background-position: -1000px;
  }
  20% {
    background-position: top left;
  }
  90% {
    background-position: top right;
  }
  100% {
    background-position: 1000px;
  }
} */
